[submodule "boilerplate"]
	path = boilerplate
	url = https://github.com/agerard57/clickify-boilerplate
[submodule "common"]
	path = common
	url = https://github.com/agerard57/clickify-common
[submodule "main"]
	path = main
	url = https://github.com/agerard57/clickify-main
